# --- Python ---
__pycache__/
*.pyc

# --- Entornos Virtuales (¡Muy Importante!) ---
venv/
env/
.venv/
.env

# --- Mac (Basura del sistema) ---
.DS_Store

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- VS Code (Configuraciones personales) ---
.vscode/